{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Medical Records System{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">

    <!-- Header -->
    <header class="bg-blue-200 text-blue-800 shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <h1 class="text-xl font-bold">Medical Records System</h1>
            <nav class="flex space-x-4">
                {% if 'Doctor' in request.session.user_roles %}
                    <a href="{% url 'add_patient' %}" class="hover:underline">Add Patient</a>
                    <a href="{% url 'view_patients' %}" class="hover:underline">Patients</a>
                    <a href="{% url 'age_risk_distribution' %}" class="hover:underline">Reports</a>
                {% endif %}
            </nav>
            
            <!-- Display logged-in user's name and logout link if user is logged in -->
            <div class="text-blue-800 font-semibold">
                {% if request.session.user_name %}
                    Welcome, {{ request.session.user_name }}! |
                    <a href="{% url 'logout' %}" class="hover:underline">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="hover:underline">Login</a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Main Content Wrapper with Flex-Grow -->
    <main class="container mx-auto p-8 flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-200 text-gray-700 mt-10">
        <div class="container mx-auto px-4 py-4 text-center">
            <p>&copy; 2024 Medical Records System. All rights reserved.</p>
            <p>Developed by Serhii Shchoholiev, Pavlenko Polina</p>
        </div>
    </footer>

</body>
</html>
